body {
background-color: #333;
color: white;
}

.main-text{
    font-size: 25px;
    text-align: center;
    padding-top: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,13,51,0.3),rgba(12,13,51,0.3))
    position: relative;
    padding: 25%;
    display: flex;
    align-items:center;
    justify-content:center;
}





.back-image{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-image{
        width:auto;
        height:auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-image{
        width:auto;
        height:100%;
    }
}

.hero p{
    position:relative
}
.hero .link{
    position:absolute;
}